html {
    max-width: 70ch;
    padding: 64px 16px;
    margin: auto;
    font-size: 12px;
    font-family: 'Courier New', sans-serif;
  }

  h1 {
    border: 2px solid salmon;
    padding: 40px;
    font-family: 'Courier New', sans-serif;
  }