html {
    max-width: 70ch;
    padding: 64px 16px;
    margin: auto;
    font-size: 12px;
    font-family: 'Courier New', sans-serif;
  }

  html,
  body {
    height: 100%;
  }

  body{
    background-color: chartreuse;
    color: black;
  }

  section{
    background-color: #ffffff;
  }

  #app{
    max-width: 960px
    margin: auto;
    padding: 12px;
  }

  h1 {
    border: 2px solid #ff6200;
    padding: 40px;
    font-family: 'Courier New', sans-serif;
  }

  .app-header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  #notes-grid {
    border: none;
    padding: 0;
    font-family: "Courier New", sans-serif;
    background-color: rgb(0, 187, 255);
  }

  /* Controls */
  #controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 10px 0 10px 0;
  }

  .btn,
  .wave-select,
  .tempo-input{
    border: 1px;
    border-radius: 6px;
    background-color: var(--panel);
    padding: 8px 10px 8px 10px;
  }